<% if (title) { %>
  <h1><%= title %></h1>
<% } %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%- messages() %>


<form class="loginForm" action="/account/register" method="post">
  <label for="fname">First name</label><br>
  <input type="text" id="fname" name="account_firstname" required
    value="<%= account_firstname ? account_firstname : '' %>"><br>

  <label for="lname">Last name</label><br>
  <input type="text" id="lname" name="account_lastname" required
    value="<%= account_lastname ? account_lastname : '' %>"><br>

  <label for="username">Email address</label><br>
  <input type="email" id="username" name="account_email" required
    placeholder="Enter a valid email address"
    value="<%= account_email ? account_email : '' %>"><br>

  <label for="password">Password</label><br>
  <span>Password must be at least 12 characters, contain 1 number, 1 capital letter, and 1 special character</span>
  <input type="password" id="password" name="account_password"
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    required><br>

  <input type="submit" id="rButton" value="Register">
</form>

