<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="errors">
    <% errors.array().forEach(function(err) { %>
      <li><%= err.msg %></li>
    <% }) %>
  </ul>
<% } %>

<div class="account-update-container">

     <!-- ========================
       Account Information Form
       ======================== -->

  <form id="accountUpdateForm" class="Form" action="/account/update-account" method="post">
  <h2>Account Update</h2>
  
  <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

  <label for="account_firstname">First Name:</label> <br>
  <input type="text" id="account_firstname" name="account_firstname" required
         value="<%= typeof account_firstname !== 'undefined' ? account_firstname : accountData.account_firstname %>"> <br>
  
  <label for="account_lastname">Last Name:</label> <br>
  <input type="text" id="account_lastname" name="account_lastname" required
         value="<%= typeof account_lastname !== 'undefined' ? account_lastname : accountData.account_lastname %>"> <br>
  
  <label for="account_email">Email:</label> <br>
  <input type="email" id="account_email" name="account_email" required
         value="<%= typeof account_email !== 'undefined' ? account_email : accountData.account_email %>"> <br>
 
  <input type="submit" value="Update Account Information">
</form>

  <!-- ========================
       Password Change Form
       ======================== -->
  <form id="passwordChangeForm" class="Form" action="/account/update-password" method="post">
  <h2>Change Password</h2>

  <p>Enter a new password to change your current password. Passwords must be at least 12 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.</p>

  <!-- Hidden account ID -->
  <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

  
  <label for="account_password">New Password:</label>
  <input type="password" id="account_password" name="account_password" required>
 
  <input type="submit" value="Change Password">
</form>

</div>